<!-- Uses base.html as a base and adds to that base. -->
{% extends "reservations/base.html" %}
{% block title %}My Page Title{% endblock title %}
<!-- anything between block content tags is what usually goes between body tags.-->
{% block content %}

<h1>Congratulations!</h1>

    
    <h2>Your rental details are below</h2>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ vehicles.image.url }}">
            </div>
            <!-- <div class="col-md-8"> -->
                <div class="card-body col-md-4">
                    <h5 class="card-title" style="text-transform: capitalize;">{{ vehicles }}</h5>
                    <p class="card-text"></p>{{ vehicles.seats }} seats
                </div>
                <div class="card-body col-md-4">
                        ${{ vehicles.price_per_day }}/day
                </div>
            <!-- </div> -->
        </div>
    </div>

{% endblock content %}