<!-- Uses base.html as a base and adds to that base. -->
{% extends "reservations/base.html" %}
{% block title %}My Page Title{% endblock title %}
<!-- anything between block content tags is what usually goes between body tags.-->
{% block content %}


<form method="POST"> {% csrf_token %}
        <!-- begin row -->
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="start_date">Start Date</label>
            <input type="date" class="form-control" data-date-format="yyyy/mm/dd" name="status_start_date" id="startDate" onblur="compare();" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="end_date">End Date</label>
            <input type="date" class="form-control" data-date-format="yyyy/mm/dd" name="status_end_date" id="endDate" onblur="compare();" required>
          </div>
          <!-- end row -->
          
          <!-- begin row -->
        </div>
        <div class="form-row">
          <div class="col-md-4 mb-3">
              <label for="vehicle_type">Vehicle Type</label>
              <select class="form-control" name="vehicle_type">
                <option value="any">Show All</option>
                <option value="car">Car</option>
                <option value="truck">Truck</option>
                <option value="van">Van</option>
                <option value="suv">SUV</option>
              </select>
          </div>
          <div class="col-md-5 mb-3">
              <label for="vehicle_class">Vehicle Class</label>
              <select class="form-control" name="vehicle_class">
                <option value="any">Show All</option>
                <option value="Economy">Economy</option>
                <option value="Standard">Standard</option>
                <option value="Sport">Sport</option>
                <option value="Luxury">Luxury</option>
              </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="number_of_seats">Seats</label>
            <select class="form-control" name="number_of_seats">
                <option value="any">Show All</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="12">12</option>
              </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submit">Search vehicles</button>
</form>
<script>
  
function compare()
  {
      var now = new Date()
      var startDt = document.getElementById("startDate").value;
      var endDt = document.getElementById("endDate").value;
  
      if( (new Date(endDt).getTime() - new Date(startDt).getTime()) > 1209600000)
      {
        document.getElementById("longDateError").style.visibility = "visible";
        document.getElementById("submit").disabled = true;
        
      }
      else if ((now.getTime() - new Date(startDt).getTime()) > 86400000)
      {
        document.getElementById("pastDateError").style.visibility = "visible";
        document.getElementById("submit").disabled = true;
      }
      else if ((now.getTime() - new Date(endDt).getTime()) > 86400000)
      {
        document.getElementById("pastDateError").style.visibility = "visible";
        document.getElementById("submit").disabled = true;
      }
      else if (new Date(endDt).getTime() < new Date(startDt).getTime())
      {
        document.getElementById("endDateError").style.visibility = "visible";
        document.getElementById("submit").disabled = true;
      }
      else 
      {
        document.getElementById("longDateError").style.visibility = "hidden";
        document.getElementById("pastDateError").style.visibility = "hidden";
        document.getElementById("endDateError").style.visibility = "hidden";
        document.getElementById("submit").disabled = false;
      }
  }</script>
<div id="longDateError" class="alert alert-danger" role="alert" style="margin-top: 15px; visibility:hidden;">
  Please contact us to reserve a vehicle for longer than 14 days.
</div>
<div id="pastDateError" class="alert alert-danger" role="alert" style="margin-top: 0px; visibility:hidden;">
  Please choose dates in the present or future.
</div>
<div id="endDateError" class="alert alert-danger" role="alert" style="margin-top: 0px; visibility:hidden;">
    End date should not be before start date.
  </div>
<br><br>
  
    {% for vehicle in vehicles %}
    <div class="card mb-4" style="max-width: 840px; padding: 5px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ vehicle.image.url }}">
            </div>
            <!-- <div class="col-md-8"> -->
                <div class="card-body col-md-4">
                    <h5 class="card-title" style="text-transform: capitalize;">{{ vehicle }}</h5>
                    <p class="card-text">{{ vehicle.seats }} seats</p>
                </div>
                <div class="card-body col-md-4">
                        ${{ vehicle.price_per_day }}/day
                        
                </div>
            <!-- </div> -->
        </div>
        <button class="btn btn-primary btn-block">Reserve</button>
    </div>
    {% endfor %}

{% endblock content %}