<!-- Uses base.html as a base and adds to that base. -->
{% extends "reservations/base.html" %}
{% block title %}My Page Title{% endblock title %}
<!-- anything between block content tags is what usually goes between body tags.-->
{% block content %}

<div id="dateError" class="alert alert-danger" role="alert" style="display:none;">
    Please contact us to reserve a vehicle for longer than 14 days.
</div>

<form method="POST" > {% csrf_token %}
        <!-- begin row -->
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="start_date">Pickup Date</label>
            <input type="date" class="form-control" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" name="status_start_date" id="startDate" onblur="dateValidate();" required>
          </div>
          <div class="col-md-2 mb-3">
            <label for="start_date">Pickup Time</label>
            <select class="form-control" name="status_start_time" id="startTime" onblur="dateValidate();" required>
              <option value="06:00">6:00AM</option>
              <option value="06:30">6:30AM</option>
              <option value="07:00">7:00AM</option>
              <option value="07:30">7:30AM</option>
              <option value="08:00">8:00AM</option>
              <option value="08:30">8:30AM</option>
              <option value="09:00">9:00AM</option>
              <option value="09:30">9:30AM</option>
              <option value="10:00">10:00AM</option>
              <option value="10:30">10:30AM</option>
              <option value="11:00">11:00AM</option>
              <option value="11:30">11:30AM</option>
              <option value="12:00">12:00PM</option>
              <option value="12:30">12:30PM</option>
              <option value="13:00">1:00PM</option>
              <option value="13:30">1:30PM</option>
              <option value="14:00">2:00PM</option>
              <option value="14:30">2:30PM</option>
              <option value="15:00">3:00PM</option>
              <option value="15:30">3:30PM</option>
              <option value="16:00">4:00PM</option>
              <option value="16:30">4:30PM</option>
              <option value="17:00">5:00PM</option>
              <option value="17:30">5:30PM</option>
              <option value="18:00">6:00PM</option>
              <option value="18:30">6:30PM</option>
              <option value="19:00">7:00PM</option>
              <option value="19:30">7:30PM</option>
            </select>
          </div>
          <div class="col-md-2 mb-3">

          </div>
          <div class="col-md-3 mb-3">
            <label for="end_date">Return Date</label>
            <input type="date" class="form-control" data-date-format="yyyy-mm-dd" placeholder="yyyy-mm-dd" name="status_end_date" id="endDate" onblur="dateValidate();" required>
          </div>
          <div class="col-md-2 mb-3">
            <label for="start_date">Return Time</label>
            <select class="form-control" name="status_end_time" id="endTime" onblur="dateValidate();" required>
              <option value="06:00">6:00AM</option>
              <option value="06:30">6:30AM</option>
              <option value="07:00">7:00AM</option>
              <option value="07:30">7:30AM</option>
              <option value="08:00">8:00AM</option>
              <option value="08:30">8:30AM</option>
              <option value="09:00">9:00AM</option>
              <option value="09:30">9:30AM</option>
              <option value="10:00">10:00AM</option>
              <option value="10:30">10:30AM</option>
              <option value="11:00">11:00AM</option>
              <option value="11:30">11:30AM</option>
              <option value="12:00">12:00PM</option>
              <option value="12:30">12:30PM</option>
              <option value="13:00">1:00PM</option>
              <option value="13:30">1:30PM</option>
              <option value="14:00">2:00PM</option>
              <option value="14:30">2:30PM</option>
              <option value="15:00">3:00PM</option>
              <option value="15:30">3:30PM</option>
              <option value="16:00">4:00PM</option>
              <option value="16:30">4:30PM</option>
              <option value="17:00">5:00PM</option>
              <option value="17:30">5:30PM</option>
              <option value="18:00">6:00PM</option>
              <option value="18:30">6:30PM</option>
              <option value="19:00">7:00PM</option>
              <option value="19:30">7:30PM</option>
            </select>
          </div>
        </div>
        <!-- end row -->
          
          
        <!-- begin row -->
        <div class="form-row">
          <div class="col-md-4 mb-3">
              <label for="vehicle_type">Vehicle Type</label>
              <select class="form-control" name="vehicle_type">
                <option value="any">Show All</option>
                <option value="car">Car</option>
                <option value="truck">Truck</option>
                <option value="van">Van</option>
                <option value="suv">SUV</option>
              </select>
          </div>
          <div class="col-md-5 mb-3">
              <label for="vehicle_class">Vehicle Class</label>
              <select class="form-control" name="vehicle_class">
                <option value="any">Show All</option>
                <option value="Economy">Economy</option>
                <option value="Standard">Standard</option>
                <option value="Sport">Sport</option>
                <option value="Luxury">Luxury</option>
              </select>
          </div>
          <div class="col-md-3 mb-3">
            <label for="number_of_seats">Seats</label>
            <select class="form-control" name="number_of_seats">
                <option value="any">Show All</option>
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="12">12</option>
              </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" id="submit" name="search_submit">Search vehicles</button>
</form>
<script>
  
function dateValidate()
  {
      var now = new Date()
      var startDt = document.getElementById("startDate").value;
      var endDt = document.getElementById("endDate").value;
  
      if((new Date(endDt).getTime() - new Date(startDt).getTime()) > 1209600000)
      {
        document.getElementById("dateError").style.display = "block";
        document.getElementById("submit").disabled = true;
        document.getElementById("dateError").innerHTML = "Please contact us to reserve a vehicle for longer than 14 days."
      }
      else if ((now.getTime() - new Date(startDt).getTime()) > 86400000)
      {
        document.getElementById("dateError").style.display = "block";
        document.getElementById("submit").disabled = true;
        document.getElementById("dateError").innerHTML = "Please choose dates in the present or future."
      }
      else if ((now.getTime() - new Date(endDt).getTime()) > 86400000)
      {
        document.getElementById("dateError").style.display = "block";
        document.getElementById("submit").disabled = true;
        document.getElementById("dateError").innerHTML = "Please choose dates in the present or future."
      }
      else if (new Date(endDt).getTime() < new Date(startDt).getTime())
      {
        document.getElementById("dateError").style.display = "block";
        document.getElementById("submit").disabled = true;
        document.getElementById("dateError").innerHTML = "End date should not be before start date."
      }
      else 
      {
        document.getElementById("dateError").style.display = "none";
        document.getElementById("submit").disabled = false;
      }
}
</script>
<br><br>
    {% for vehicle in vehicles %}
    <div class="card mb-4" style="max-width: 840px; padding: 5px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img" src="{{ vehicle.image.url }}">
            </div>
            <!-- <div class="col-md-8"> -->
                <div class="card-body col-md-4">
                    <h5 class="card-title" style="text-transform: capitalize;">{{ vehicle }}</h5>
                    <p class="card-text">{{ vehicle.seats }} seats</p>
                </div>
                <div class="card-body col-md-4" id="price">
                
                        ${{ vehicle.price_per_day }}/day, {{ rental_length }}
                        
                </div>
            <!-- </div> -->
        </div>
        <form method="POST" action="select/"> {% csrf_token %}
          <input type="hidden" name="vehicle_id" value="{{ vehicle.id }}">
          <input type="hidden" name="rental_length" value="{{ rental_length }}">
          <input type="hidden" name="status_start" value="{{ status_start }}">
          <input type="hidden" name="status_end" value="{{ status_end }}">
          <button class="btn btn-primary btn-block" type="submit" id="submit-select" name="submit_select">Select...</button>
        </form>
    </div>
    {% endfor %}

{% endblock content %}