<!-- Uses base.html as a base and adds to that base. -->
{% extends "reservations/base.html" %}
{% block title %}My Page Title{% endblock title %}
<!-- anything between block content tags is what usually goes between body tags.-->
{% block content %}
<div class="card mb-4" id="vehicle-card-select">
    <div class="row no-gutters">
        <div class="col-md-6">
            <img class="card-img" src="{{ vehicles.image.url }}">
        </div>
        <div class="card-body col-md-3">
            <h5 class="card-title" style="text-transform: capitalize;">{{ vehicles }}</h5>
            <p class="card-text">{{ vehicles.seats }} seats</p>
        </div>
        <div class="card-body col-md-3" id="price">
        
                ${{ vehicles.price_per_day }}/day 
                <p id='totaltotal'>$<script>document.write({{ rental_length }} * {{ vehicles.price_per_day }});</script> total</p>
                {{ status_start }}
                {{ status_end }}
                
        </div>
    </div>
    <form method="POST" action="../confirm/"> {% csrf_token %}
      <input type="hidden" name="vehicle_id" value="{{ vehicles.id }}">
      <input type="hidden" name="status_start" value="{{ status_start }}">
      <input type="hidden" name="status_end" value="{{ status_end }}">
      <button class="btn btn-primary btn-block" type="submit" id="submit_reserve" name="submit_reserve">Reserve</button>
    </form>
</div>


{% endblock content %}